 /* Start Global Ruls */
 *{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }   
html {
    scroll-behavior: smooth;
}     
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 700px){
    .container{
        margin-left: 0px;
        margin-right: 15px;
    }
}
 /* Small */
 @media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/*  Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Ruls */
/* Start Header */
.header{
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/img_section.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    z-index: 1;
}
.header .container{
    display: flex;
    justify-content: flex-end;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3ms;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
@media (max-width: 640px){
    .header{
        left: 0px;
        margin-left: 0px;
    }
    .header .container{
        font-size: 20px;
        width: 100%;
        margin: 0;
    }
}
/* End Header */
/* Start section1 */
.IT-section .intro-text{
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 100%;
    font-weight: 900;
    z-index: 1;
    font-family: 'Roboto Serif', sans-serif;
    text-shadow: 5px rgba(0,0,0,0.2);
}
.IT-section .intro-text h1{
    color: rgb(255, 253, 253);
    top: 50%;
    font-size: 60px;
    text-shadow: 2px 2px rgb(136, 127, 127);
}
.IT-section .intro-text p{
    color: rgb(46, 42, 42);
    width: 443px;
    height: 172px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}
@media(max-width: 700px){
    .IT-section .intro-text h1, p{
        font-size: 30px;
        font-weight: inherit;
    }
    .IT-section .intro-text h1{
        margin-top: 300%;
    }
    .IT-section .intro-text p{
        width: 240px;
        color: cornsilk;
    }
}
/* End section1 */
/* Start Features */
.features{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    font-weight: bold;
    justify-content: space-between;
    width: min(95%, 70rem);
}
.features .container {
    display: grid;
    margin-top: -10%;
    font-size: 14px;
    gap: 1.4rem;
    grid-template-columns: auto auto ;
}
.features .container i{
    font-size: 20px;
    height: 26px;
    color: #42A8C0;
}
.features .box {
    background: #f6f6f6;
    border-radius: 2px;
    padding: 10px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
}
@media screen and (max-width :640px){
    .features {
        width: 100%;
    }
    .features .container .box{
        grid-template-columns: repeat(2, 5fr);
    margin-left: -7px;
    margin-right: -18px;
    width: 110%;
    }
    .features .container p{
        font-size: 16px;

    }
}
/* End Features */
/* Start Section2 */
.section2{
    width: 25%;
    margin: 50px;
    text-align: start;
    padding-top: 100px;
    height: 450px;
    position: relative;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.section2 .container{
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   
}
.section2 .container p{
   margin-bottom: 80px;
   font-family: 'Hind', sans-serif;
   font-weight: 800;
   font-size: 25px;
   width: 310px;
   font-family: 'PT Sans Narrow', sans-serif;
   text-shadow: 0 5px 15px rgba(0,0,0,0.2);

}
.section2 .container .btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%
}
.section2 .imgbx img{
    position: absolute;
    top: 9%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 41%;
    border-radius: 10%;
}
.section2 .container .text2{
    position: absolute;
    top: 124%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 40%;
    font-family: 'PT Sans Narrow', sans-serif;

}
.section2 .container .text2 h2{
    content: "";
    top: 100%;
    font-size: 18px;
    height: 55px;
}
.section2 .container .text2 p {
    content: "";
    font-size: 12px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-shadow: none;
}
@media(max-width: 640px){
    .section2{
        width: auto;
    height: 680px;
    }
    .section2 .container .text1 p {
        width: 180px;
        margin-top: -150%;
    }
    .section2 .imgbx img{
        width: 100%;
    margin-left: -26%;
    margin-top: 30%;
    }
    .section2 .container .text2 h2{
        margin-left: -280%;
        font-size: 15px;
        margin-top: 1050%;
    }
    .section2 .container .text2 p {
        margin-left: -280%;
        margin-top: -4px;
        width: 220px;
        height: 70px;
        font-size: 14px;
    }
}
/* End Section2 */
/* Start Services */
.services-col{
    background: rgb(90, 86, 86);
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 110px;
}
.services-col h1{
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.services-col p{
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgb(48, 46, 46);
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}
.services-col .card-container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    flex: 3, 5fr;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px;
    margin: 10px auto;
}
.services-col .ser-col{
    background: #f6f6f6;
    width: 235px;
    height: 325px;
    text-align: center;
    margin: 5%;
    border-radius: 10px;
}
.services-col .ser-col img{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: -28px;
}
.services-col .ser-col .btn{
    background-color: rgb(85, 85, 199);
    border: none;
    color: white;
    padding: 7px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%
}
.services-col .ser-col .btn:hover{
    filter: brightness(150%);
}
@media (max-width: 640px){
    .services-col{
        margin: 0;
    padding: 172px;
    }
    .services-col h1{
        font-size: 14px;
    margin-top: -80px;
    margin-left: -70px;
    width: 155px;
    }
    .services-col p{
        font-size: 12px;
    width: 300px;
    margin-left: -135px;
    }
    .services-col .ser-col{
        width: 150px;
    height: 245px;
    margin-left: -10%;
    }
    .services-col .ser-col img{
        width: 40px;
        height: 40px;
        margin-top: 5px;
    }
    .services-col .ser-col h2{
        font-size: 14px;
        margin-top: -35px;
    }
    .services-col .card-container .ser-col p{
        font-size: 5px;
    width: 100%;
    margin-left: auto;
    }
    .services-col .ser-col .btn{
        font-size: 5px;

    }
    .services-col
    .card-container{
        grid-template-columns: repeat(2, 0fr);
        margin: 6px 0px;
        column-count: 5;
        column-gap: 25px;
        }
}
/* End Services */
/* Start About US */
.about{
    width: 100%;
    margin: auto;
    padding: 40px 100px;
    background: #ddd;
}
.about .Btn{
    margin-left: -59px;
    margin-bottom: -39px;
    
}
.about .btn-1, .btn-2, .btn-3{
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    background-color: rgb(85, 85, 199);
    color: white;
    padding: 7px 32px;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 30px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.about .container {
    background-size: cover;
    align-items: center;
    margin-top: 3%;
    border-radius: 0;
    margin-bottom: 5%;
    padding: 25px;
    background-color: #f6f6f6;
    width: 780px;
    margin-left: -57px;
 }
.main-heading h2{
    width: 300px;
    max-width: 100%;
    padding: 0;
    top: 100%;
    margin-left: -5%;
    margin-top: -5%;
    font-weight: 400;
}
.main-heading .container h3{
    content: "";
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    width: 600px;
}
.main-heading .container h4{
    content: "";
    font-size: 16px;
    font-weight: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    margin-top: 18px;
}
.main-heading .container h5{
    content: "";
    font-size: 16px;
    font-weight: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    margin-top: 18px;
}
@media (max-width: 640px){
    .main-heading h2{
        font-size: 15px;
    margin-top: -85px;
    margin-left: -55px;
    }
    .about .btn-1, .btn-2, .btn-3{
        font-size: 7px;
        padding: 5px 18px;
    }
    .about .Btn{
        display: flex;
    }
    .about .container {
        padding: 8%;
    width: 295px;
    margin-top: 20%;
    }
    .main-heading .container h3{
        font-size: 13px;
    width: 290px;
    }
    .main-heading .container h4{
        font-size: 12px;
    width: 300px;
    }
    .main-heading .container h5 {
        font-size: 11px;
    width: 250px;
    }
}
/* End About US */
/* Start Testimonials */
.testimonials{
    width: 100%;
    margin: auto;
    padding: 40px 100px;
    background: #f6f6f6;
}
.testimonials .container{
    margin-left: 55px;
}
.testimonials h1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 45px;
}
.testimonials p{
    margin-top: 30px;
    width: 435px;
    line-height: 36px;
    font-weight: initial;
    margin: 10 0 20px;
    text-align: center;
    margin-left: -60px;
}
.testimonials img{
    width: 270px;
    height: 270px;
    margin-top: 35px;
}
.testimonials0{
    content: "";
    width: 45%;
    margin: auto;
    padding: 40px 100px;
    background: #ddd;
    background-size: cover;
    align-items: center;
    margin-top: -43%;
    border-radius: 0;
    margin-bottom: 5%;
    padding: 25px;
    margin-left: 553px;
}
.testimonials0 img{
    width: 15%;
    height: 50%;
    border-radius: 50%;
    margin-top: 75px;
    margin-bottom: -81px;
}
.testimonials0 p{
    margin-top: 85px;
    width: 449px;
    line-height: 68px;
    font-weight: inherit;
    margin: 10 0 20px;
    margin-left: 0;
    text-align: left;
}
@media (max-width: 640px){
    .testimonials h1{
        font-size: 20px;
        margin-left: -45px;
    }
    .testimonials p {
        margin-left: -405%;
        font-size: 15px;
        width: 330px;
        margin-top: 30px;
    }
    .testimonials img {
        width: 160px;
        height: 160px;
        margin-left: -170%;
    }
    .testimonials0{
        width: 171%;
        margin-left: 0px;
        padding: 0 0px;
        margin-top: 20px;
    }
    .testimonials0 img {
        width: 70px;
        height: 65px;
        margin-top: 0;
        margin-left: 20%;
    }

    .testimonials0 p {
        font-size: 11px;
        width: 195px;
        margin-top: 65px;
        margin-left: 20%;
    } 
}
/* End Testimonials */
/* Start Team */
.team{
    background: rgb(90, 86, 86);
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 110px;
}
.team h1{
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    color: #ddd;
    font-weight: 600;
    font-size: 30px;
}
.team .container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
}
.team .img-team{
    background: #f6f6f6;
    width: 455px;
    height: 285px;
    text-align: center;
    margin: 5%;
    border-radius: 10px;
}
.team .img-team p{
    content: "";
    width: 400px;
    height: 150px;
    text-align: center;
    margin-top: 30px;
    margin-left: 10%;
}
.team .img-team h2{
    content: "";
    color: rgb(26, 26, 224);
    font-size: 14px;
    font-weight: 400;
    width: inherit;
    margin-left: -16%;
    margin-top: -12%;
}
.team .container img{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: 7px;
    margin-left: -80%;
}
.team .img-team i{
    content: "";
    top: 20%;
    width: 60px;
    color: rgb(53, 53, 204);
}
@media (max-width: 700px){
    .team h1{
        font-size: 15px;
        margin-top: -18%;
        margin-left: -65px;
    }
    .team .container{
        height: 200%;
    grid-template-columns: repeat(1, 5fr);
    margin-top: -6%;
    margin-left: 0;
    column-gap: 30px;
    }
    .team .img-team{
        width: 100%;

    }
    .team .container img{
        width: 15%;
        height: 20%;
    }
    .team .img-team h2{
        margin-left: -20px;
        margin-top: -40px;
    }
    .team .img-team p{
        font-size: 20px;
        width: 240px;
        margin-top: 32px;
        margin-left: 0%;
    }
}
/* End Team */
/* Start Contact Us */
.contact{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    background: #f6f6f6;
}
.contact .address p{
   margin-left: 30%;
   width: 34%;
   margin-top: 0;

}
.contact .address .par{
    content: "";
    width: 34%;
    margin-top: 2%;
}
.contact .address hr{
    width: 7%;
    margin-left: 45%;
    height: 5px;
    background-color: rgb(53, 53, 204);
    margin-top: 1%;
}
.contact-us{
    margin: auto;
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    font-family: "Montserrat", sans-serif;
} 
.contact-from{
    width: 100%;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/contect.jfif);
}
.contact-us h1{
    margin-top: 0;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    color: #ddd;
}
.input{
    border: 1px solid rgb(97, 93, 93);
    margin: 8px 230px;
    padding: 11px 27px;
    border-radius: 8px;
}
.input label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.input input,
.input textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btns{
    display: block;
    background: rgb(53, 53, 204);
    padding: 14px 0px;
    color: white;
    text-transform: uppercase;
    margin: 0% 44%;
    border-radius: 8px;
    text-decoration: none;
}
@media (max-width: 640px){
    .contact .address p{
        margin-left: 10%;
    text-align: center;
    width: 260px;
    margin-top: -80px;
    }
    .contact .address hr{
        width: 30%;
    margin-left: 33%;
    }
    .contact-us{
        width: 100%;
    padding: 0;
    }
    .contact-us h1{
        font-size: 35px;
    }
    .input{
        margin: 10px 5px;
    }
    .btns{
        margin: 0px 25%;

    }
    .contact .address .par{
        margin-left: 5%;
        width: 300px;
    }
}
/* End Contact Us */